# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../FunctionalJava8\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\tuto\FunctionalJava8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
